<h1>All Tags</h1>
<% @tags.each do |tag| %>
<%= link_to tag.name, tag_path(tag) %>
<%= link_to "Delete", tag_path(tag), method: :delete, data: {confirm: "Are you sure you want to delete this tag?"} %><br />
<% end %>
